
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper function to check if the user is signed in
    function isSignedIn() {
      return request.auth != null;
    }

    // Helper function to check if a user is a super-admin
    function isSuperAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'super-admin';
    }

    // Helper function to check if the user belongs to the requested warehouse
    function isWarehouseMember(warehouseId) {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.warehouseId == warehouseId;
    }

    // Super-admin can manage the list of warehouses.
    match /managedWarehouses/{warehouseId} {
      allow read, write: if isSuperAdmin();
    }
    
    // Users can read and write their own user document.
    // Allow creation for the first-time sign-up process.
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
      allow create: if isSignedIn();
    }

    // All documents within a warehouse's subcollection can only be accessed
    // by members of that warehouse.
    match /managedWarehouses/{warehouseId}/{document=**} {
      allow read, write: if isWarehouseMember(warehouseId);
    }
  }
}
