
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    // Customers: Logged-in users can create/update/delete their own data.
    match /customers/{customerId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn(); 
    }

    // Storage Records: Logged-in users can create/update/delete their own records.
    match /storageRecords/{recordId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    
    // Expenses: Logged-in users can manage expenses.
    match /expenses/{expenseId} {
        allow read, write: if isSignedIn();
    }
  }
}
